- Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

- Lowercase everything
- Normalize unicode characters
- Replace anything that is not a letter, number, whitespace or a single quote.

In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

In [2]:
def basic_clean(sentence):
    string = sentence.lower()
    string = unicodedata.normalize('NFKD', string)\
    .encode('ascii', 'ignore')\
    .decode('utf-8', 'ignore')
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

In [3]:
basic_clean('The rumors are true! The time has arrived. Codeup has officially opened applications to our new Data Science career accelerator, with only 25 seats available! This immersive program is one of a kind in San Antonio, and will help you land a job in Glassdoor’s #1 Best Job in America.Data Science is a method of providing actionable intelligence from data. The data revolution has hit San Antonio, resulting in an explosion in Data Scientist positions across companies like USAA, Accenture, Booz Allen Hamilton, and HEB. We’ve even seen UTSA invest $70 M for a Cybersecurity Center and School of Data Science. We built a program to specifically meet the growing demands of this industry.Our program will be 18 weeks long, full-time, hands-on, and project-based. Our curriculum development and instruction is led by Senior Data Scientist, Maggie Giust, who has worked at HEB, Capital Group, and Rackspace, along with input from dozens of practitioners and hiring partners. Students will work with real data sets, realistic problems, and the entire data science pipeline from collection to deployment. They will receive professional development training in resume writing, interviewing, and continuing education to prepare for a smooth transition to the workforce.We focus on applied data science for immediate impact and ROI in a business, which is how we can back it all up with a 6 month tuition refund guarantee – just like our existing Web Dev program. We’re focusing on Data Science with Python, SQL, and ML, covered in 14 modules: 1) Fundamentals; 2) Applied statistics; 3) SQL; 4) Python; 5) Supervised machine learning – regression; 6) Supervised machine learning – classification; 7) Unsupervised machine learning – clustering; 8) Time series analysis; 9) Anomaly detection; 10) Natural language processing; 11) Distributed machine learning; 12) Advanced topics (deep learning, NoSQL, cloud deployment, etc.); 13) Storytelling with data; and 14) Domain expertise development.Applications are now open for Codeup’s first Data Science cohort, which will start class on February 4, 2019. Hurry – there are only 25 seats available! To further our mission of cultivating inclusive growth, scholarships will be available to women, minorities, LGBTQIA+ individuals, veterans, first responders, and people relocating to San Antonio.If you want to learn about joining our program or hiring our graduates, email datascience@codeup.com!')

'the rumors are true the time has arrived codeup has officially opened applications to our new data science career accelerator with only 25 seats available this immersive program is one of a kind in san antonio and will help you land a job in glassdoors 1 best job in americadata science is a method of providing actionable intelligence from data the data revolution has hit san antonio resulting in an explosion in data scientist positions across companies like usaa accenture booz allen hamilton and heb weve even seen utsa invest 70 m for a cybersecurity center and school of data science we built a program to specifically meet the growing demands of this industryour program will be 18 weeks long fulltime handson and projectbased our curriculum development and instruction is led by senior data scientist maggie giust who has worked at heb capital group and rackspace along with input from dozens of practitioners and hiring partners students will work with real data sets realistic problems and the entire data science pipeline from collection to deployment they will receive professional development training in resume writing interviewing and continuing education to prepare for a smooth transition to the workforcewe focus on applied data science for immediate impact and roi in a business which is how we can back it all up with a 6 month tuition refund guarantee  just like our existing web dev program were focusing on data science with python sql and ml covered in 14 modules 1 fundamentals 2 applied statistics 3 sql 4 python 5 supervised machine learning  regression 6 supervised machine learning  classification 7 unsupervised machine learning  clustering 8 time series analysis 9 anomaly detection 10 natural language processing 11 distributed machine learning 12 advanced topics deep learning nosql cloud deployment etc 13 storytelling with data and 14 domain expertise developmentapplications are now open for codeups first data science cohort which will start class on february 4 2019 hurry  there are only 25 seats available to further our mission of cultivating inclusive growth scholarships will be available to women minorities lgbtqia individuals veterans first responders and people relocating to san antonioif you want to learn about joining our program or hiring our graduates email datasciencecodeupcom'

- Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [4]:
def tokenize(string):
    tokenizer = nltk.tokenize.ToktokTokenizer()

    result = tokenizer.tokenize(string, return_str=True)
    
    return result

In [5]:
tokenize("Hey! My name is Matt! How are you?")

'Hey ! My name is Matt ! How are you ?'

- Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [6]:
def stem(text):
    ps = nltk.porter.PorterStemmer()
    stems = [ps.stem(word) for word in text.split()]
    article_stemmed = ' '.join(stems)
    return article_stemmed

In [7]:
stem('the rumors are true! the time has arrived. codeup has officially opened applications to our new data science career accelerator, with only 25 seats available! this immersive program is one of a kind in san antonio, and will help you land a job in glassdoor’s #1 best job in america.data science is a method of providing actionable intelligence from data. the data revolution has hit san antonio, resulting in an explosion in data scientist positions across companies like usaa, accenture, booz allen hamilton, and heb. we’ve even seen utsa invest $70 m for a cybersecurity center and school of data science. we built a program to specifically meet the growing demands of this industry.our program will be 18 weeks long, full-time, hands-on, and project-based. our curriculum development and instruction is led by senior data scientist, maggie giust, who has worked at heb, capital group, and rackspace, along with input from dozens of practitioners and hiring partners. students will work with real data sets, realistic problems, and the entire data science pipeline from collection to deployment. they will receive professional development training in resume writing, interviewing, and continuing education to prepare for a smooth transition to the workforce.we focus on applied data science for immediate impact and roi in a business, which is how we can back it all up with a 6 month tuition refund guarantee – just like our existing web dev program. we’re focusing on data science with python, sql, and ml, covered in 14 modules: 1) fundamentals; 2) applied statistics; 3) sql; 4) python; 5) supervised machine learning – regression; 6) supervised machine learning – classification; 7) unsupervised machine learning – clustering; 8) time series analysis; 9) anomaly detection; 10) natural language processing; 11) distributed machine learning; 12) advanced topics (deep learning, nosql, cloud deployment, etc.); 13) storytelling with data; and 14) domain expertise development.applications are now open for codeup’s first data science cohort, which will start class on february 4, 2019. hurry – there are only 25 seats available! to further our mission of cultivating inclusive growth, scholarships will be available to women, minorities, lgbtqia+ individuals, veterans, first responders, and people relocating to san antonio.if you want to learn about joining our program or hiring our graduates, email datascience@codeup.com!')

'the rumor are true! the time ha arrived. codeup ha offici open applic to our new data scienc career accelerator, with onli 25 seat available! thi immers program is one of a kind in san antonio, and will help you land a job in glassdoor’ #1 best job in america.data scienc is a method of provid action intellig from data. the data revolut ha hit san antonio, result in an explos in data scientist posit across compani like usaa, accenture, booz allen hamilton, and heb. we’v even seen utsa invest $70 m for a cybersecur center and school of data science. we built a program to specif meet the grow demand of thi industry.our program will be 18 week long, full-time, hands-on, and project-based. our curriculum develop and instruct is led by senior data scientist, maggi giust, who ha work at heb, capit group, and rackspace, along with input from dozen of practition and hire partners. student will work with real data sets, realist problems, and the entir data scienc pipelin from collect to deployment. they will receiv profession develop train in resum writing, interviewing, and continu educ to prepar for a smooth transit to the workforce.w focu on appli data scienc for immedi impact and roi in a business, which is how we can back it all up with a 6 month tuition refund guarante – just like our exist web dev program. we’r focus on data scienc with python, sql, and ml, cover in 14 modules: 1) fundamentals; 2) appli statistics; 3) sql; 4) python; 5) supervis machin learn – regression; 6) supervis machin learn – classification; 7) unsupervis machin learn – clustering; 8) time seri analysis; 9) anomali detection; 10) natur languag processing; 11) distribut machin learning; 12) advanc topic (deep learning, nosql, cloud deployment, etc.); 13) storytel with data; and 14) domain expertis development.appl are now open for codeup’ first data scienc cohort, which will start class on februari 4, 2019. hurri – there are onli 25 seat available! to further our mission of cultiv inclus growth, scholarship will be avail to women, minorities, lgbtqia+ individuals, veterans, first responders, and peopl reloc to san antonio.if you want to learn about join our program or hire our graduates, email datascience@codeup.com!'

- Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [8]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/matthewknight/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
def lemmatize(text):
    wnl = nltk.stem.WordNetLemmatizer()
    lemmas = [wnl.lemmatize(word) for word in text.split()]
    article_lemmatized = ' '.join(lemmas)
    return article_lemmatized

In [10]:
result = lemmatize('the rumors are true! the time has arrived. codeup has officially opened applications to our new data science career accelerator, with only 25 seats available! this immersive program is one of a kind in san antonio, and will help you land a job in glassdoor’s #1 best job in america.data science is a method of providing actionable intelligence from data. the data revolution has hit san antonio, resulting in an explosion in data scientist positions across companies like usaa, accenture, booz allen hamilton, and heb. we’ve even seen utsa invest $70 m for a cybersecurity center and school of data science. we built a program to specifically meet the growing demands of this industry.our program will be 18 weeks long, full-time, hands-on, and project-based. our curriculum development and instruction is led by senior data scientist, maggie giust, who has worked at heb, capital group, and rackspace, along with input from dozens of practitioners and hiring partners. students will work with real data sets, realistic problems, and the entire data science pipeline from collection to deployment. they will receive professional development training in resume writing, interviewing, and continuing education to prepare for a smooth transition to the workforce.we focus on applied data science for immediate impact and roi in a business, which is how we can back it all up with a 6 month tuition refund guarantee – just like our existing web dev program. we’re focusing on data science with python, sql, and ml, covered in 14 modules: 1) fundamentals; 2) applied statistics; 3) sql; 4) python; 5) supervised machine learning – regression; 6) supervised machine learning – classification; 7) unsupervised machine learning – clustering; 8) time series analysis; 9) anomaly detection; 10) natural language processing; 11) distributed machine learning; 12) advanced topics (deep learning, nosql, cloud deployment, etc.); 13) storytelling with data; and 14) domain expertise development.applications are now open for codeup’s first data science cohort, which will start class on february 4, 2019. hurry – there are only 25 seats available! to further our mission of cultivating inclusive growth, scholarships will be available to women, minorities, lgbtqia+ individuals, veterans, first responders, and people relocating to san antonio.if you want to learn about joining our program or hiring our graduates, email datascience@codeup.com!')

- Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [11]:
def remove_stopwords(text, extra_words, exclude_words):
    stopword_list = stopwords.words('english')
    stopword_list.append(extra_words)
    stopword_list.remove(exclude_words)
    words = text.split()
    filtered_words = [w for w in words if w not in stopword_list]
    article_without_stopwords = ' '.join(filtered_words)
    return article_without_stopwords

In [12]:
stopword_list = stopwords.words('english')
print(stopword_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [13]:
remove_stopwords(result, "dude", 'no')

'rumor true! time ha arrived. codeup ha officially opened application new data science career accelerator, 25 seat available! immersive program one kind san antonio, help land job glassdoor’s #1 best job america.data science method providing actionable intelligence data. data revolution ha hit san antonio, resulting explosion data scientist position across company like usaa, accenture, booz allen hamilton, heb. we’ve even seen utsa invest $70 cybersecurity center school data science. built program specifically meet growing demand industry.our program 18 week long, full-time, hands-on, project-based. curriculum development instruction led senior data scientist, maggie giust, ha worked heb, capital group, rackspace, along input dozen practitioner hiring partners. student work real data sets, realistic problems, entire data science pipeline collection deployment. receive professional development training resume writing, interviewing, continuing education prepare smooth transition workforce.we focus applied data science immediate impact roi business, back 6 month tuition refund guarantee – like existing web dev program. we’re focusing data science python, sql, ml, covered 14 modules: 1) fundamentals; 2) applied statistics; 3) sql; 4) python; 5) supervised machine learning – regression; 6) supervised machine learning – classification; 7) unsupervised machine learning – clustering; 8) time series analysis; 9) anomaly detection; 10) natural language processing; 11) distributed machine learning; 12) advanced topic (deep learning, nosql, cloud deployment, etc.); 13) storytelling data; 14) domain expertise development.applications open codeup’s first data science cohort, start class february 4, 2019. hurry – 25 seat available! mission cultivating inclusive growth, scholarship available women, minorities, lgbtqia+ individuals, veterans, first responders, people relocating san antonio.if want learn joining program hiring graduates, email datascience@codeup.com!'

- Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [14]:
from acquire import get_news_articles

In [15]:
news_df = get_news_articles()

In [16]:
news_df = pd.DataFrame(news_df)

In [17]:
news_df

,title,content,category
0,Scientist behind '90% effective' COVID-19 vacc...,"German scientist Uğur Şahin, the CEO of BioNTe...",Business
1,IPL is ready for expansion: NCA head Rahul Dra...,"Former India captain Rahul Dravid, who is now ...",Sports
2,"Something bogus going on: Musk on 2 +ve, 2 -ve...",Billionaire Elon Musk said he took four rapid ...,Technology
3,Friends reunion being rescheduled for beginnin...,"Actor Matthew Perry, who played the role of Ch...",Entertainment

- Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [18]:
from acquire import get_blog_articles

In [20]:
codeup_df = get_blog_articles()

In [21]:
codeup_df = pd.DataFrame(codeup_df)

In [23]:
codeup_df

,title,content
0,Codeup’s Data Science Career Accelerator is He...,The rumors are true! The time has arrived. Cod...
1,Data Science Myths - Codeup,By Dimitri Antoniou and Maggie Giust\nData Sci...
2,Data Science VS Data Analytics: What’s The Dif...,"By Dimitri Antoniou\nA week ago, Codeup launch..."
3,10 Tips to Crush It at the SA Tech Job Fair - ...,SA Tech Job Fair\nThe third bi-annual San Anto...
4,Competitor Bootcamps Are Closing. Is the Model...,Competitor Bootcamps Are Closing. Is the Model...

In [27]:
news_df['clean'] = news_df['content'].apply(lambda x: basic_clean(x))

In [28]:
news_df.head()

,title,content,category,clean
0,Scientist behind '90% effective' COVID-19 vacc...,"German scientist Uğur Şahin, the CEO of BioNTe...",Business,german scientist ugur sahin the ceo of biontec...
1,IPL is ready for expansion: NCA head Rahul Dra...,"Former India captain Rahul Dravid, who is now ...",Sports,former india captain rahul dravid who is now t...
2,"Something bogus going on: Musk on 2 +ve, 2 -ve...",Billionaire Elon Musk said he took four rapid ...,Technology,billionaire elon musk said he took four rapid ...
3,Friends reunion being rescheduled for beginnin...,"Actor Matthew Perry, who played the role of Ch...",Entertainment,actor matthew perry who played the role of cha...

In [29]:
news_df['stemmed'] = news_df['content'].apply(lambda x: stem(x))

In [30]:
news_df['lemmatized'] = news_df['content'].apply(lambda x: lemmatize(x))

In [31]:
codeup_df['clean'] = codeup_df['content'].apply(lambda x: basic_clean(x))

In [33]:
codeup_df['stemmed'] = codeup_df['content'].apply(lambda x: stem(x))

In [34]:
codeup_df['lemmatized'] = codeup_df['content'].apply(lambda x: lemmatize(x))